<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido al <%= subtitle %></p>
    <a href="/locales/categorias">Categorias</a><br />
    <a href="/mascotas/lostandfound">Mascotas</a>
  </body>
</html>
